[submodule "static/bootstrap"]
	path = static/bootstrap
	url = https://github.com/twitter/bootstrap.git
[submodule "static/skeleton"]
	path = static/skeleton
	url = https://github.com/dhgamache/Skeleton.git
[submodule "tools/djs"]
	path = tools/djs
	url = https://github.com/louisremi/node-DJs.git
