<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登入/注册 - Suckless.info</title>
</head>
<body>
    <form method="POST">
        <label for="username">用户名</label>
        <input id="username" name="username" type="text" />
        <label for="password">密码</label>
        <input id="password" name="password" type="text" />
        <label for="password_confirm">密码确认</label>
        <input id="password_confirm" name="password_confirm" type="text" />
        <label for="nickname">昵称</label>
        <input id="nickname" name="nickname" type="text" />
        <label for="email">邮箱</label>
        <input id="email" name="email" type="text" />
        <input type="submit" name="action" value="注册" />
        <input type="submit" name="action" value="临时登入" />
        <input type="submit" name="action" value="登入" />
    </form>
</body>
</html>
